*{
    list-style:none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans',sans-serif;
}
/* .body{

} */

.blockitem{
    width: 75px;
    position: absolute;
    left: 50vh;
    bottom: 10vh;
    height: 60px;
    background-color: red;
}